.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;

  background: linear-gradient(
    to bottom,
    #1560bd 0%,
    #1165cb 80%,
    #000080 100%
  );

  &__body {
    display: flex;
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
  }
}



/* .layout {
  display: flex;
  height: 100dvh;
  overflow: hidden;

  .layout__content {
    flex: 1;
  }

  &__wrapper {
    height: 100%;
    overflow: hidden;

    background: linear-gradient(
      to bottom,
      #1560bd 0%,
      #1165cb 80%,
      #000080 100%
    );
  }
} */

/* blue-500  #3b82f6  ← your current blue
blue-600  #2563eb
blue-700  #1d4ed8
blue-800  #1e40af
blue-900  #1e3a8a 
azure: #007FFF
trueblue: #0073CF
denim blue: #1560BD

Denim: #1560BD
Dark Denim: #124E96
Deep Denim: #0D3B73

*/

/* test yellow */
/* #D99A2B  ← darker, more mustard
#E0A12B  ← balanced ⭐
#E5A82B  ← brighter, more golden
#F0B429 */

/* #1677FF — vivid electric blue ⭐
#006BFF — stronger, punchier
#0084FF — brighter / more digital
#246BFF */
/* 
#FFB000 — vivid golden orange ⭐
#FFAA00 — warmer
#FFB800 — brighter yellow-gold
#F5A800 — slightly more restrained */

//#FFB000

/* Lime: #32CD32 → greener, more natural
Neon/lime: #39FF14 → extremely bright, fluorescent
Electric green: #00FF66 → more digital/cyan-ish
Acid green: #B6FF00 → much more yellow-green */
