.select {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  width: 100%;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;

  label {
    position: absolute;
    top: 0px;
  }
  input {
    border: 1px solid red;
    width: 100%;
  }

  &__options {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__option {
    width: 100%;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
      background-color: lightgrey;
      color: black;
    }
  }
}
