.phone-input {
  width: 100%;

  &__label {
    position: relative;
    top: 7px;
    left: 8px;
    width: fit-content;
    z-index: 1;
    margin: 0;
    padding: 0 0.3rem;
    background-color: white;
    font-size: 12px;
    color: black;
    transition: color 0.2s ease;
    display: flex;
  }

  &__info {
    padding-left: 0.3rem;
    cursor: pointer;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.5rem;
    border: 1px solid gray;
    border-radius: 8px;
    transition: border-color 0.2s ease;

    .PhoneInput {
      .PhoneInputCountry {
        border-right: 2px solid gray;
        padding: 0 0.3rem;
      }
      .PhoneInputCountryIconImg {
        border-radius: 4px;
      }
      .PhoneInputCountryIcon--border {
        box-shadow: none;
        background-color: transparent;
      }
    }
  }

  // NORMAL HOVER

  &:hover {
    .phone-input__label {
      color: black;
    }

    .phone-input__wrapper {
      border-color: black;
    }
  }

  // NORMAL FOCUS

  &:focus-within {
    .phone-input__label {
      color: blue;
    }

    .phone-input__wrapper {
      border-color: blue;
    }
  }

  // ERROR

  &--error {
    .phone-input__label {
      color: red;
    }

    .phone-input__wrapper {
      border-color: red;
    }

    // Error + focus

    &:focus-within {
      .phone-input__label {
        color: red;
      }

      .phone-input__wrapper {
        border-color: blue;
      }
    }

    // Error + hover

    &:hover {
      .phone-input__label {
        color: red;
      }

      .phone-input__wrapper {
        border-color: red;
      }
    }
  }

  // DISABLED

  &--disabled {
    .phone-input__label {
      color: gray;
    }

    .phone-input__wrapper {
      border-color: gray;
    }

    &,
    &:hover,
    &:focus-within {
      .phone-input__label {
        color: gray;
      }

      .phone-input__wrapper {
        border-color: gray;
      }
    }

    input {
      cursor: not-allowed;
    }
  }
}
