.checkbox {
  &__wrapper {
    width: 100%;
    display: flex;
  }

  &__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    //padding:0.5rem 0;
  }

  &__box span {
    padding-left: 0.3rem;
    font-size: 14px;
    display: flex;
  }

  &__info {
    padding-left: 0.3rem;
    cursor: pointer;
  }

  input {
    display: none;
  }

  &__error {
    color: red;
  }
}
