@import "./styles/variables.css";
@import "./styles/globals.css";


@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: var(--font-family-base);
    color: var(--color-text);
    background: var(--color-white);
  }
}